@model IEnumerable<DonVo.CQRS.Standard21.Application.ViewModels.Position.PositionViewModel>
@{ViewData["Title"] = "Positions";}

<h2>Positions</h2><hr />
<div class="row">
	<div class="col-9">
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col" style="width: 40%">@Html.DisplayNameFor(model => model.Name)</th>
					<th scope="col" style="width: 40%">@Html.DisplayNameFor(model => model.Description)</th>
					<th scope="col" style="width: 10%">@Html.DisplayNameFor(model => model.Grade)</th>
					<th scope="col" style="width: 10%"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr @(item.IsSelected ? "class=table-active" : "")>
						<th scope="row">@Html.DisplayFor(model => item.Name)</th>
						<td>@Html.DisplayFor(model => item.Description)</td>
						<td>@Html.DisplayFor(model => item.Grade)</td>
						<td>
							@if (item.IsSelected)
							{
								<a asp-action="Index" asp-route-id="" role="button" class="btn btn-secondary btn-sm">Back</a>
							}
							else
							{
								<a asp-action="Index" asp-route-id="@item.Id" role="button" class="btn btn-info btn-sm">Modify</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="col-3">
		@await Html.PartialAsync("_Edit", Model.SingleOrDefault(d => d.IsSelected))
	</div>
</div>

@section Scripts
{
	@await Html.PartialAsync("_ValidationScriptsPartial")
}